body {
    background-color: #ffc2ec;
    text-align: center;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

#n {
    height: 550px;
    width: 550px;
}

#a {
    height: 550px;
    width: 550px;
}

#t {
    height: 550px;
    width: 550px;
}

#u {
    height: 550px;
    width: 550px;
}
