body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.menu {
    list-style: none;
    top: 20px;
    right: 30px;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.profile {
    height: 170px;
    width: 130px;
    border-radius: 50%;
    text-align: center;
}

#title {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background-color: #98e7ed;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
}

#tim {
    margin-top: 200px;
}

.links {
    font-style: italic;
    color: pink;
    padding: 40px;
    display: inline;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;

}

p {
    text-align: center;

}

.links:hover {
    background-color: pink;
    text-decoration: underline;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

#picture {
    height: 500px;
}

#pic2 {
    height: 500px;
}
