body {
    text-align: center;
    margin: 0;
    padding-top: 800px;

}

#home {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background-color: #bbeef0;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.profile {
    height: 170px;
    width: 130px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    top: 20px;
    right: 30px;
    z-index: 10;
    position: fixed;
}

.links {
    font-style: italic;
    color: aliceblue;
    padding: 40px;
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.links:hover {
    background-color: blueviolet;
}

html {
    scroll-behavior: smooth;
}

a {
    font-family: sans-serif;
}

h2 {
    line-height: 1.2;
    font-family: sans-serif;
    margin-bottom: 40px;
    font-weight: 300;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 40px;
    font-weight: 300;
}

#ic {
    margin-top: 150px;
}
